<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/partials/partials.html :: head ('Get Recipe List | Form')"></head>
<body>
    <div class="container w-75">
        <!--NAV-->
        <nav th:replace="/partials/partials.html :: nav-component"></nav>

        <!--HEADER-->
        <section th:replace="/partials/partials.html :: header-section ('Getting a Recipe List | Form')"></section>

        <!--MAIN-->
        <!--input form-->
        <form id="get-recipe-list-form" class="form-inline my-2 my-lg-0">
            <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search">
            <button id="get-recipe-btn" class="btn btn-outline-success my-3 w-100" type="submit">Search</button>
        </form>
        <!--cards-->
        <div class="container" id="recipe-results"></div>
        <!--details-->
        <div class="container" id="recipe-details"></div>




        <!--SCRIPTS-->
        <section th:replace="/partials/partials.html :: script-section"></section>
        <script th:src="@{/js/get-recipe.js}"></script>
        <script th:src="@{/js/keys.js}"></script>

    </div>
</body>
</html>