<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/partials/partials.html :: head ('Test Json from db')"></head>
<body>
<div class="container">
    <!--NAV-->
    <nav th:replace="/partials/partials.html :: nav-component"></nav>

    <!--HEADER-->
    <section th:replace="/partials/partials.html :: header-section ('Test Json from DB')"></section>

    <!--MAIN-->
    <!--Viewable-->
    <h2>show</h2>
    <div th:each="recipe : ${recipes}">
        <span th:text="${recipe.title}">recipe title</span>
    </div>

    <!--Hidden-->
    <h2>hidden</h2>
    <div th:each="recipe : ${recipes}">
        <span th:text="${recipe.title}" style="display: none">recipe title</span>
    </div>
    <!--Marking Bottom-->
    <h2>bottom</h2>
    <!--Json Show  ... ABLE TO SHOW ALL JSON STRING-->
<!--    <span th:text="${json}">String of the R</span>-->
    <span th:text="${iJson}">String of the I</span>


    <!--RECIPE: Json Hide-->
    <div id="json-input" style="display: none">
        <span  th:text="${json}"></span>
    </div>

    <!--INGREDIENTS: Json Hide-->
    <div id="iJson-input" style="display: none">
        <span  th:text="${iJson}"></span>
    </div>



    <!--SCRIPTS-->
    <section th:replace="/partials/partials.html :: script-section"></section>
    <script th:src="@{/js/manip-db-json.js}"></script>


</div>
</body>
</html>