<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/partials/partials.html :: head ('Template')"></head>
<body>
    <div class="container">
        <!--NAV-->
        <nav th:replace="/partials/partials.html :: nav-component"></nav>

        <!--HEADER-->
        <section th:replace="/partials/partials.html :: header-section ('Template')"></section>

        <!--MAIN-->


        <!--SCRIPTS-->
        <section th:replace="/partials/partials.html :: script-section"></section>
    </div>
</body>
</html>